{
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "prettier", "prettier/react", "prettier/@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "react-hooks/rules-of-hooks": "error"
  },
}
