:local(.test) {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: gray;
}

:local(.show) {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

:local(.showImg) {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

:local(.text) {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  line-height: 1.4;
}

:local(.title) {
  font-weight: 700;
}

:local(.desc) {
  color: gray;
  font-weight: 400;
  font-size: 12px;
}
